@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
    .topcorner-absolute {
        padding-bottom: 5%;
        text-align: center;
    }
    .botcorner-absolute {
        padding-top: 5%;
        text-align: center;
    }
    .main-container {
        margin-left: 0;
    }
    .single-icon-container { /*default styling*/
        margin-left: -0px;
      }
}
@media only screen and (min-width: 768px) {
    .cont {
        position: relative;
        width: 100%;
    }
    .topcorner-absolute {
        position: absolute;
        right: 15%;
        text-align: right;
    }
    .botcorner-absolute {
        position: relative;
        text-align: left;
        bottom: 10%;
    }

    .main-container {
        height: fit-content;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-left: 100px;
      }
      .single-icon-container { /*default styling*/
        margin-left: -75px;
      }
}
.image-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    align-items: center;
}
.image-stack__item--top {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    max-width: 300px;
  }
  .image-stack__item--middle {
    grid-column: 2 / -1;
    padding-top: 20%;
    grid-row: 1;
    max-width: 800px;
  }
  .image-stack__item--bottom {
    grid-column: 3 / -1;
    padding-top: 60%;
    grid-row: 1;
  }

  .back {
    background-color: lightblue;
    height: 40%;
  }

  
  #icons-container {
    display: flex;
    position: relative;
    justify-content: center;
  }
  #two {
    margin-top: 10%;
    margin-left: -25px;
  }
  #three {
    margin-top: 30%;
  }